//COLORS
$color_white: #fff;
$color_black: #000;
$color_main_grey: #343432;
$color_light_grey: #F7F4F8;
$color_main_pink: #F92672;
$color_main_purple: #575366;

//GRID VARIABLES
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horisontal: 6rem;

// GRID FOR MOBILE
$gutter_vertical_small: 6rem;

// FONT
$default_font_size: 1.6rem;
